<nav class="nav justify-content-start col-12 z-depth-1 rounded">
        <a routerLink="/oprojekcie" routerLinkActive="active" class="nav-item nav-link active">O projekcie</a>
        <a routerLink="/biblioteki" routerLinkActive="active" class="nav-item nav-link">Biblioteki</a>
        <a routerLink="/omnie" routerLinkActive="active" class="nav-item nav-link">O mnie</a>
        <a routerLink="/reguly" routerLinkActive="active" class="nav-item nav-link">Aplikacja <i class="fas fa-play-circle"></i>
            </a>
    </nav>