@import url('https://fonts.googleapis.com/css?family=Lato|Coiny');

body{

    background-color: #fff;
    width:100%;
    height: 100vh;
    /*color: #747373*/
    color:#444;
}

html{
    font-family: 'Lato', sans-serif;
    line-height:1.5em;
    width:100%;
    min-height: 100%;
    font-size: 14px;
}

html:before {
    background: #fff url(assets/img/kropla-wody-tlo.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center center;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -4;
    opacity: 0.5;
    }

h1,h2{
  font-family: 'Coiny', cursive;
  font-size:2rem;
  color:#974405;
}

h3,h4{
    font-family: 'Coiny', cursive;
    font-size:1.7rem;
    color:#974405;
  }

  h5,h6{
    font-family: 'Coiny', cursive;
    font-size:1rem;
    color:#974405;
  }

  strong{
    font-family: 'Coiny', cursive;
    font-size:1rem;
    color:#974405;
  }

.glowny{
    padding: 10px;
    min-height: 800px;
    width:1024px;
    margin:auto;
    border:1px solid #aaa;
    background-color: white;
    opacity:0.86;
}




 header {
      background: url(assets/img/projekt-naglowka.png) no-repeat ;
      height: 320px;
      margin-top:90px;
      opacity:0.7;
    }

.karta_duza {
    padding:20px;
}

.przezroczysty{
    opacity: 0.6;
}

.przezroczysty:hover{
    opacity: 1;
}

.niewidoczny{
    display:none;
}

.ikonka{
   font-size: 1.2em;
}

.sekcja_prezentacja{
    padding:2em;
    color:#974405;
}

.grupa_odsunieta{
    padding-top:1.3em;
}

.odsunieta_gora_dol{
    padding:1.1em;
}

a{
    display:inline;
    text-decoration: none;
    color:#974405;
}

nav{
    margin-top:0px;
}

.tresc{
    margin-top:0px;
    min-height: 500px;
    /*font-size:0.9em;*/

}

.table{
    margin-top:2em;
    color:inherit !important;
}

.table td{
  /*  padding:.2em !important;*/

}


.table th{
    background-color:#eee;
    text-align: center;
}



a:hover,a:active{
    text-decoration: none;
    display: inline;
    color:#974405;
}

footer{
        height: 60px;
}

w-15{
  width:15%;
}
