@import url('https://fonts.googleapis.com/css?family=Lato|Coiny');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width:100%;
    height: 100vh;
}



html {

    line-height:24px;
    width:100%;
    min-height: 100%;
    font-size: 14px;
    letter-spacing: .3px;
}

html:before {
    background: #fff url(assets/img/kropla-wody-tlo.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center center;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -4;
    opacity: 0.5;
    }

h1,h2{
  font-family: 'Coiny', cursive;
  font-size:2rem;
  color:#974405;
}

h3,h4{
    font-family: 'Coiny', cursive;
    font-size:1.7rem;
    color:#974405;
  }

  h5,h6{
    font-family: 'Coiny', cursive;
    font-size:1rem;
    color:#974405;
  }

  strong{
    font-family: 'Coiny', cursive;
    font-size:1rem;
    color:#974405;
  }

.glowny{
    padding: 10px;
    min-height: 800px;
    width:1024px;
    margin:auto;
    border:1px solid #aaa;
    background-color: #fff;

}




 header {
      background: url(assets/img/naglowek-chmurka-slowa.png) no-repeat ;
      height: 320px;
      margin-top:60px;
      opacity:.7;
    }

.karta_duza {
    padding:20px;
}

.przezroczysty{
    opacity: 0.6;
}

.przezroczysty:hover{
    opacity: 1;
}

.niewidoczny{
    display:none;
}

.ikonka{
   font-size: 1.2em;
}

.sekcja_prezentacja{
    padding:2em;
    color:#974405;
}

.grupa_odsunieta{
    padding-top:1.3em;
}

.odsunieta_gora_dol{
    padding:1.1em;
}

a{
    display:inline;
    text-decoration: none;
    color:#974405;
}

nav{
    margin-top:0px;
}

.tresc{
    margin-top:0px;
    min-height: 500px;
    /*font-size:0.9em;*/
}

/*.table{
    margin-top:2em;
}




.table th{
    background-color:#eee;

}

*/

a:hover,a:active{
    text-decoration: none;
    display: inline;
    color:#974405;
}

footer{
        height: 60px;
}

/*Uwaga! bez tego nie działa okno modalne!*/
.modal-backdrop {
  z-index: -1;
}

.w-10{
  width:10%;
}

.w-20{
  width:20%;
}

.w-30{
  width:30%;
}

.w-40{
  width:40%;
}

.w-60{
  width:60%;
}

.w-70{
  width:70%;
}

.w-80{
  width:80%;
}

.w-90{
  width:90%;
}

/*przedefiniowane z mdb*/
.card ,.card-body ,.card-text {
    color: #444;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5em;
    background-color:#f5f5f5 ;
}

.list-group,.list-group-item{
  background-color:#f5f5f5 ;
}

table td {
    padding:20px;
    color: #444;
    font-size: 0.9rem;
    line-height: 1.5em;
    font-weight: 400;
}

table th {
  background-color:#efebe9;
  text-align: center;
  color:#974405;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
}

table, table.dane {
  margin-bottom: 3rem;
  margin-top:0;
  background-color:#f5f5f5 ;

}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
}

table.table-sm th, table.table-sm td {
    padding-left: 0.6rem;
}



table.dane td {
    color: #444;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
}


/*koniec przedefiniowane z mdb*/
