<article class="card">
  <div class="card-body">
    <h3 class="card-title">Wyniki analizy reguł</h3>
    <!--<h6 class="card-subtitle mb-2 text-muted">Informacje</h6>-->
    <p class="card-text"> W sekcji tej prezentowane są wyniki analizy reguł wykonanej w
       oparciu o algorytmy uczenia maszynowego dostępne w ramach biblioteki Apache OpenNLP.
       Wyniki analizy prezentowane są w tabelach według następującego schematu:
    </p>
    -<ul class = "list-group card-text">
      <li class = "list-group-item"><strong>Reguła wejściowa</strong> - informacja o wejściu algorytmu.</li>
      <li class = "list-group-item"><strong>Wyodrębnione komunikaty</strong> - jest to lista komunikatów użytkownika, które zostały odnalezione w regule.
        W celu uprosczenia przetwarzania sekwencji przez algorytmy NLP komunikaty są wyodrębniane i zastępowane
        słowem - markerem identyfikującym komunikat. Jako komunikat uznaje się ciąg znaków otoczonych znakiem podwójnego cudzysłowu.</li>
      <li class = "list-group-item"><strong>Rozpoznane tokeny</strong>-jest to tabela pokazująca wyniki działania algorytmu NLP. Prezentuje ona regułę rozbitą na pojedyncze tokeny.
        Przy każdym tokenie  wskazana jest logiczna encja, do której przyporządkował go algorytm dokonujący analizy, oraz liczbowe prawdopodobieństwo z jaką nastąpiło dopasowanie.
        Ostatnia kolumna tej tabeli ma zastosowanie tylko do wybranych bytów logicznych i służy do normalizacji tokenów. Np. tokeny "równy", "równa", "jest równy" należą do jednej wspólnej kategorii oznaczającej równość "==", a tokeny "jest większy lub równy", "jest nie mniejszy niż" oznaczają kategorię ">="</li>
      <li class = "list-group-item"><strong>Rozpoznane parametry wejściowe</strong>- w tabeli tej prezentowane są tokeny uznane jako parametry wejściowe do reguły. Zwykle występują one w wyrażeniach warunkowych.
          W przypadku gdy warunek reguły skonstruowany jest w taki sposób że następuje porównanie z wartością stałą (np liczbową lub datę), wtedy taka wartość jest traktowana jako parametr wejściowy reguły z przypisaną wartością domyślną.
          Warunkiem poprawności analizy reguły jest właściwe przyporządkowanie typów danych do parametrów reguły. Jeśli nie uda się wnioskowanie automatyczne, to informacje te muszą być wprowadzone przez użytkownika w do drugiej kolumny tabeli parametrów.</li>
    <li class = "list-group-item"><strong>Rozpoznane wywołania innych reguł</strong>-W tabeli tej prezentowane są odnalezione odwołania do innych reguł. Konieczne jest dokonanie mapowania parametrów wejściowych reguły wołającej i reguły wołanej.</li>
    </ul>
    <p class="card-text grupa_odsunieta">
      Prezentacja wyników analizy następuje po wybraniu reguły z listy w panelu bocznym. Zielony znacznik świadczy o tym że dopełnione zostały wszystkie doprecyzowania i mapowania parametrów, więc aplikacja posiada komplet informacji potrzebnych do wygenerowania kodu.
    </p>
    <!--<a href="#!" class="card-link">Card link</a>
    <a href="#!" class="card-link">Another link</a>-->
  </div>
</article>
