.kontrolka{
	-fx-font: 11px "System";
}

.kontrolka_tytul{
	-fx-font: 11px "System";
	-fx-font-weight: bold;
}



.przyciski-narzedziowe {
	-fx-font: 11px "System";
	-fx-content-display: middle;
	-fx-padding: 16px 16px;
	-fx-margin-right: 0px; float: left;
	-fx-margin-bottom:20px;
	-fx-margin-top:20px;
}

.przyciski-narzedziowe-belka {
	-fx-padding-top: 15px;
	-fx-padding-bottom: 15px;
	-fx-padding-left:0px;

}