.kontrolka{
	-fx-font: 11px "System";
}

.kontrolka_tytul{
	-fx-font: 11px "System";
	-fx-font-weight: bold;
}



.przycisk-menu {
	-fx-font: 11px "System";
	-fx-padding: 15px 15px;
	-fx-margin: 10px;
	 float: left;
}

.przyciski-narzedziowe-belka {
	-fx-padding: 15px;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}