<!--The content below is only a placeholder and can be replaced.-->
<!--<app-aplikacja-kreator-regul></app-aplikacja-kreator-regul>
<app-zawartosc-statyczna></app-zawartosc-statyczna>
-->


<div class="glowny">
    <header class="container text-center">
    </header>
    <section class="container">
        <section class="row">
            <app-menu-glowne></app-menu-glowne>
        </section>
    </section>
    <!--tresc-->
    <section class="tresc">
        <router-outlet></router-outlet>
    </section>

    <footer class="container rounded  font-small gray">
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="mailto:mw.wojcik@gmail.com">mw.wojcik@gmail.com</a>
        </div>
    </footer>
</div>