
<div class="nav justify-content-end" style="margin-bottom: 1em;">
  <button type="button" class="btn btn-default btn-md" (click)="zapiszRegule()">Zapisz</button>
</div>


<div class="alert alert-danger" *ngIf="regula.kontekstWalidacji.czySaKomunikaty">
  <ul>
    <li *ngFor="let komunikat of regula.kontekstWalidacji.komunikaty">
      {{komunikat.wartosc}}
    </li>
  </ul>
</div>

<table class="table table-bordered  table-sm dane z-depth-3">
  <tr>
    <th> Reguła wejściowa</th>
  </tr>
  <tr>
    <td><strong>{{regula.kod}}</strong></td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{regula.tresc}} </td>
  </tr>
  </table>
<!--<p>
  {{regula.sekwencja.postacKanoniczna}}
</p>-->



  <table class="table table-bordered  table-sm dane z-depth-3">
    <tr>
      <th colspan="2"> Wyodrębnione komunikaty</th>
    </tr>
    <tr *ngFor="let komunikat of regula.sekwencja.komunikaty | keyvalue">
      <td class="w-30">{{komunikat.key}}</td>
      <td class="w-70">{{komunikat.value}}</td>
    </tr>
  </table>


  <table class="table table-bordered table-sm dane z-depth-3">
      <tr>
        <th colspan="4">Rozpoznane tokeny </th>
      </tr>
      <tr>
          <th>Token</th>
          <th>Wartość logiczna</th>
          <th>Prawd.</th>
          <th>Kategoria</th>
      </tr>
      <tr *ngFor="let token of regula.sekwencja.rozpoznaneTokeny">
          <td class="w-30">{{token.wartosc}}</td>
          <td class="w-30">{{token.typ}}</td>
          <td class="w-10">{{token.prob | number:'1.3'}}</td>
          <td class="col-30">{{token.kategoria}}</td>

      </tr>
    </table>


    <table class="table table-bordered table-sm dane z-depth-3">
        <tr>
          <th colspan="3">
            Rozpoznane parametry wejściowe
        </th>
        </tr>
        <tr>
            <th>Parametr</th>
            <th>Typ</th>
            <th>Domyślnie</th>
        </tr>
        <tr *ngFor="let parametr of regula.parametry">
            <td class="w-30">{{parametr.nazwa}}</td>
            <td class="w-30">
              <!--<select [(ngModel)]=parametr.typ ng-options="typ for typ in dopuszczalneTypyParametrow">
                <option ng-repeat="typ in dopuszczalneTypyParametrow" value="{{typ}}">{{typ}}</option>
              </select>-->
              <div class="form-group">
                  <select class="form-control w-50" id="power"
                    required
                    [(ngModel)]="parametr.typ" name="power"
                    #power="ngModel">
                    <option *ngFor="let pow of dopuszczalneTypyParametrow" [value]="pow">{{pow}}</option>
                  </select>
                  <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                    Power is required
                  </div>
              </div>

            </td>
            <td class="w-40">{{parametr.wartoscDomyslna}}</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="centered-button-group">
            <button type="button" class="btn btn-default btn-brown btn-sm"  data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-plus"></i></button>
            <button type="button"  class="btn btn-default btn-brown btn-sm" (click)="usunParametrReguly()" style="margin-left:2rem;"><i class="fas fa-minus"></i></button>
            </div>
          </td>
        </tr>
      </table>
      <div>

      </div>

      <table class="table table-bordered table-sm dane z-depth-3" *ngFor="let wywolanie of regula.wywolaniaRegul">
          <tr>
            <th colspan="2"> Odwołanie do reguły {{wywolanie.kodRegulyWolanej}} </th>
          </tr>
          <!--<tr *ngFor="let parametr of regula.wywolaniaRegul.parametry">
              <td>{{parametr.nazwaParametruRegulyWolanej}}</td>
              <td>{{parametr.nazwaParametruRegulyWolajacej}}</td>
          </tr>-->

          <tr *ngFor="let parametr of wywolanie.parametry" class="w-100">
              <td class="w-50">{{wywolanie.kodRegulyWolanej}}.{{parametr.nazwaParametruRegulyWolanej}}</td>
              <td class="w-50">  <div class="form-group">
                    <select class="form-control w-50" id="power"
                      required
                      [(ngModel)]="parametr.nazwaParametruRegulyWolajacej" name="power"
                      #power="ngModel">
                      <option *ngFor="let pow of wywolanie.nazwyParametrowRegulyWolajacej" [value]="pow">{{pow}}</option>
                    </select>
                    <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                      Power is required
                    </div>
                </div>
              </td>
          </tr>

        </table>




        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"  style="z-index: 1041;">
        <form (ngSubmit)="dodajParametrDoReguly()">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea class="form-control rounded-1" id="tresc" [(ngModel)]="nazwaNowegoParametru" [ngModelOptions]="{standalone: true}" rows="10"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" #closeBtn>Anuluj</button>
                <button type="submit" class="btn btn-primary btn-sm">Zapisz</button>
              </div>
            </div>
          </div>
        </form>
        </div>
