


<table class="table table-bordered  table-sm">
  <tr>
    <th> <h6>Reguła wejściowa</h6></th>
  </tr>
  <tr>
    <td><strong>{{regula.kod}}</strong></td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{regula.tresc}} </td>
  </tr>
  </table>
<!--<p>
  {{regula.sekwencja.postacKanoniczna}}
</p>-->



  <table class="table table-bordered  table-sm">
    <tr>
      <th colspan="2"> <h6>Wyodrębnione komunikaty </h6></th>
    </tr>
    <tr *ngFor="let komunikat of regula.sekwencja.komunikaty | keyvalue">
      <td class="col-4">{{komunikat.key}}</td>
      <td class="col-8">{{komunikat.value}}</td>
    </tr>
  </table>


  <table class="table table-bordered table-sm">
      <tr>
        <th colspan="4"> <h6>Rozpoznane tokeny </h6></th>
      </tr>
      <tr>
          <th><h6>Token</h6></th>
          <th><h6>Wartość logiczna</h6></th>
          <th><h6>Prawd.</h6></th>
          <th><h6>Kategoria</h6></th>
      </tr>
      <tr *ngFor="let token of regula.sekwencja.rozpoznaneTokeny">
          <td class="col-4">{{token.wartosc}}</td>
          <td class="col-5">{{token.typ}}</td>
          <td class="col-1">{{token.prob | number:'1.3'}}</td>
          <td class="col-2">{{token.kategoria}}</td>

      </tr>
    </table>

    <table class="table table-bordered  table-sm">
        <tr>
          <th colspan="3"> <h6>Rozpoznane parametry wejściowe </h6></th>
        </tr>
        <tr>
            <th><h6>Parametr</h6></th>
            <th><h6>Typ</h6></th>
            <th><h6>Domyślnie</h6></th>
        </tr>
        <tr *ngFor="let parametr of regula.parametry">
            <td class="col-4">{{parametr.nazwa}}</td>
            <td class="col-4">{{parametr.typ}}</td>
            <td class="col-4">{{parametr.wartoscDomyslna}}</td>
        </tr>
      </table>


      <table class="table table-bordered  table-sm">
          <tr>
            <th colspan="2"> <h6>Rozpoznane wywołania innych reguł </h6></th>
          </tr>
          <!--<tr *ngFor="let parametr of regula.wywolaniaRegul.parametry">
              <td>{{parametr.nazwaParametruRegulyWolanej}}</td>
              <td>{{parametr.nazwaParametruRegulyWolajacej}}</td>
          </tr>-->
          <tr *ngFor="let wywolanie of regula.wywolaniaRegul">
              <td>{{wywolanie.kodRegulyWolanej}}</td>
              <td>{{wywolanie.kodRegulyWolajacej}}</td>
          </tr>
        </table>
