<!--<nav class="navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a routerLink="/oprojekcie" routerLinkActive="active" class="nav-item nav-link active">O projekcie</a>
        <a routerLink="/biblioteki" routerLinkActive="active" class="nav-item nav-link">Biblioteki</a>
        <a routerLink="/omnie" routerLinkActive="active" class="nav-item nav-link">O mnie</a>
        <a routerLink="/reguly" routerLinkActive="active" class="nav-item nav-link">Aplikacja <i class="fas fa-play-circle"></i>
            </a>
    </nav>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
              <a class="navbar-brand" href="#">Start Bootstrap</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                      <a routerLink="/oprojekcie" routerLinkActive="active" class="nav-link">O
                                              projekcie</a>
                              </li>
                              <li class="nav-item">
                                      <a routerLink="/biblioteki" routerLinkActive="active"
                                              class="nav-link">Biblioteki</a>
                              </li>
                             <li class="nav-item">
                                      <a routerLink="/reguly" routerLinkActive="active" class="nav-link">Aplikacja <i
                                                      class="fas fa-play-circle"></i></a>
                              </li>
                      </ul>
              </div>
      </div>
</nav>
