<div class="nav justify-content-end">
  <a class="btn btn-default btn-sm mr-2" href="#">Dodaj</a>
  <a class="btn btn-default btn-sm" href="#">Anuluj</a>
  <a class="btn btn-default btn-sm" href="#">Zapisz</a>
</div>
<table class="table table-sm table-bordered">
  <tr>
    <th colspan="3"> <h6>Reguły wejściowe </h6></th>
  </tr>
  <tr *ngFor="let regula of reguly">
    <td class="col-1">{{regula.kod}}</td>
    <td class="col-10">{{regula.tresc}}</td>
    <td class="col-1"><button type="button" class="btn btn-warning btn-sm"><i class="fas fa-trash-alt"></i></button> </td>
  </tr>
</table>
