<div class="container">
  <div class="row">
    <section class="col-sm-2">
      <h4 class="grupa_odsunieta">Reguły</h4>
      <!--<div class="card-footer">Footer</div>-->
    </section>

    <section class="col-sm-8">
      <h4 class="grupa_odsunieta">Analiza zdania</h4>
      <!--<img class="card-img przezroczysty grupa_odsunieta" src="assets/img/4Fotos.png" alt="4Fotos">-->
      <div class="card-body">

        <p class="card-text">Aplikacja służąca do zarządzania lokalnymi zbiorami zdjęć, oraz galeriami
          obrazów.</p>
        <ul>
          <li>Umożliwia import zdjęć z aparatu</li>
          <li>Pozwala na podgląd i łatwą segregację zdjęć</li>
          <li>Raportuje zajętość przestrzeni dyskowej i rozmiary katalogów</li>
          <li>Ułatwia czyszczenie katalogów </li>
          <li>Pozwala na tworzenie drzewiastych galerii WWW</li>
          <li>Umożliwia eksportowanie galerii WWW na zdalny serwer FTP</li>
        </ul>

        Biblioteki

        <ul>
          <li>Spring Boot</li>
          <li>Java FX</li>
        </ul>

        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </section>

    <section class="col-sm-2">


      <h4 class="grupa_odsunieta">Akcje</h4>
      <!--<div class="card-header">O mnie</div>-->

      <nav class="nav nav-pills flex-column">
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-check"></i> Waliduj
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-upload"></i> Wczytaj (plik)
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-plus"></i> Dodaj
        </a>
        <a href="#" class="nav-item nav-link " tabindex="-1">
          <i class="fa fa-cogs"></i> Generuj
        </a>
      </nav>

    </section>

  </div>
</div>