<article style="text-align:justify">
<p>
<img src="../assets/img/ai.png" alt="My Image" class="img-fluid" style="float:left;padding:1rem; padding-top:0;opacity: .75"/>
Jakiś czas temu miałem okazję obejrzeć film, który zrobił na mnie ogromne wrażenie. Chodzi o "Arrival - Nowy Początek".
Porusza on tematy związane z szerokopojętą, wielopłaszczyznową komunikacją. I chociaż z jednej strony doporowadza on do smutnej refleksji,
że czasami łatwiej jest porozumiec się z Obcym niż z drugim człowiekiem to z drugiej strony w plastyczny i sugestywny sposób pokazuje coś jeszcze,
a mianowicie mechanizm kształtowania się podstaw wspólnego języka.
Przedstawiony tam proces wydał mi się logiczny i uporządkowany, niemal algorytmiczny... <br>Pamiętam myśl, że skoro możliwe jest tak precyzyjne określenie
reguł stojących u podstaw nawiązania skutecznej komunikacji, to droga do zbudowania inteligentnych maszyn porozumiewających się z nami "ludzkim"
językiem wydaje się już bardzo krótka.

</p>
<p>
Do niedawna wydawało mi się, że porozumiewanie się językiem naturalnym jest domeną przynależną wyłącznie człowiekowi.
Miałem poczucie, że prace nad komputerowym przetwarzaniem języka naturalnego mają wymiar wyłącznie akademicki.
Okazało się jednak, że dynamiczny rozwój algorytmów sztucznej inteligencji i
przetwarzania maszynowego dotknął również tej dziedziny. Gdzieś na styku matematyki, informatyki i lingwistyki wykształciła się
dziedzina, która funkcjonuje jako NLP (ang.  natural language processing ).
</p>

<p>Techniki NLP koncentrują się na komputerowej analizie, przekształcaniu i generowaniu języka naturalnego.
Dzięki nim komputery nabywają zdolności nie tylko do analizy tekstu, ale również nauki i wyciągania z nich wniosków.
To właśnie w tej domenie powstają coraz doskonalsze wyszukiwarki, systemy rozpoznawania tekstu OCR, inteligentne chatboty, czy wreszcie interfejsy głosowe.
</p>


</article>
