<article>
<p>
<img src="../assets/img/ai.jpg" alt="My Image" class="img-fluid" style="float:left;padding:1rem; padding-top:0;opacity: .75"/>
Jakiś czas temu miałem okazję obejrzeć genialny, metaforyczny film - "Arrival - Nowy Początek". Gdybv zadać pytanie
co jest jego głównym tematem mogłoby się okazać, że opinii jest tyle co oglądających.
Oprócz tego, że porusza on zagadnienia związane z szeroko pojętą, wielopłaszczyznową komunikacją, to pokazuje
oparty na logice, spójny i uporządkowany mechanizm kształtowania się podstaw wspólnego języka.
Przedstawiony tam proces wydał mi się niemal algorytmiczny... Pamiętam myśl, że skoro możliwe jest tak precyzyjne określenie
reguł, to na pewno ktoś spróbował opisać je programem. A jeśli tak się stało, to droga do porozumiewających się z człowiekiem
komputerów, które są w stanie analizować tekst i wyciągać z niego właściwe wnioski wydaje się już bardzo krótka.

</p>
<p>
Do tej pory wydawało mi się, że porozumiewanie się językiem naturalnym jest domeną przynależną wyłącznie organizmom żywym,
w szczególności człowiekowi. Byłem przekonany,że prace nad komputerowym przetwarzaniem języka naturalnego mają wymiar wyłącznie akademicki.
Krótkie rozpoznanie pokazało mi jak bardzo się myliłem. Okazało się, że dynamiczny rozwój algorytmów sztucznej inteligencji i
przetwarzania maszynowego dotknął również tej dziedziny. Gdzieś na styku matematyki, informatyki i lingwistyki wykształciła się
dziedzina, która funkcjonuje jako NLP (ang.  natural language processing ). Jest ona skoncentrowana na komputerowej analizie, organizmom
przekształcaniu i generowaniu języka naturalnego. 
</p>


</article>
