<ul class="list-group" style="line-height: 1em;margin-bottom:1rem;">
  <li class="list-group-item d-flex justify-content-center align-items-center" >
    <a [routerLink]="['/nlp-reguly-lista-info']" queryParamsHandling="merge">
      Info
    </a>
  </li>
</ul>

<ul class="list-group" style="line-height: 1em;">
  <li class="list-group-item d-flex justify-content-center align-items-center" *ngFor="let regula of reguly">
    <a [routerLink]="['/nlp-reguly-szczegoly']" [queryParams]="{kod: regula.kod}" queryParamsHandling="merge">
      {{regula.kod}}
      <!--<span class="badge badge-success badge-pill" style="margin-left:.1em;" ><i class="fa fa-check"></i></span>-->
    </a>
  </li>
</ul>
