<div class="glowny">
  <header class="container text-center">
  </header>
  <section class="container">
    <section class="row">
      <app-menu></app-menu>
    </section>
  </section>

  <section>
    <app-menu-zmiana-trybu-app></app-menu-zmiana-trybu-app>
  </section>
  <section class="container tresc" style="margin-top:2em;">
    <div class="row">
      <section class="col-1">
        <!--<h4 class="grupa_odsunieta">Reguły</h4>-->
      </section>

      <section class="col-10">
        <!--<h4 class="grupa_odsunieta">Analiza zdania</h4>-->
        <!--<img class="card-img przezroczysty grupa_odsunieta" src="assets/img/4Fotos.png" alt="4Fotos">-->

          <router-outlet></router-outlet>

      </section>

      <section class="col-1"></section>

      <!--<section class="col-sm-2">




      <nav class="nav nav-pills flex-column">
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-check"></i> Waliduj
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-upload"></i> Wczytaj (plik)
        </a>
        <a href="#" class="nav-item nav-link">
          <i class="fa fa-plus"></i> Dodaj
        </a>
        <a href="#" class="nav-item nav-link " tabindex="-1">
          <i class="fa fa-cogs"></i> Generuj
        </a>
      </nav>

    </section>-->

    </div>
  </section>

  <app-stopka></app-stopka>

</div>
